<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Sample.Testproject.Action"/>
      <class name="Sample.Testproject.Alerts"/>
      <class name="Sample.Testproject.Dropdown"/>
      <class name="Sample.Testproject.SwitchTabs"/>
      <class name="Sample.Testproject.Checkbox"/>
      <class name="Sample.Testproject.Fileupload"/>
       <class name="Sample.Testproject.Orangehrm"/>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
